<app-xr-controller #xr0 [tracktype]="'grab'"></app-xr-controller>
<app-xr-controller #xr1 [index]="1" [tracktype]="'grab'"></app-xr-controller>

<ngt-mesh #mesh="ngtMesh" [name]="'floor'" [rotation]="[x,0,0]" [receiveShadow]="true">
  <ngt-plane-geometry [args]="[6,6]"></ngt-plane-geometry>
  <ngt-mesh-standard-material [parameters]="{color: '#eeeeee', roughness: 1.0, metalness: 0.0}"></ngt-mesh-standard-material>
</ngt-mesh>


<ngt-group #group="ngtGroup" [name]="'room'" >

  <ngt-mesh *ngFor="let item of shapes"
            [position]="item.position" [rotation]="item.rotation" [scale]="item.scale" [castShadow]="true" [receiveShadow]="true"
            #mesh="ngtMesh" >
    <ngt-mesh-standard-material [parameters]="{ color: item.color, roughness: 0.7, metalness:0.0 }"></ngt-mesh-standard-material>
    <ngt-box-geometry *ngIf="item.shapename=='box'" [args]="[0.2, 0.2, 0.2]"></ngt-box-geometry>
    <ngt-cone-geometry *ngIf="item.shapename=='cone'" [args]="[0.2, 0.2, 64]"></ngt-cone-geometry>
    <ngt-cylinder-geometry *ngIf="item.shapename=='cylinder'" [args]="[ 0.2, 0.2, 0.2, 64]"></ngt-cylinder-geometry>
    <ngt-icosahedron-geometry *ngIf="item.shapename=='icosahedron'" [args]="[ 0.2, 8]"></ngt-icosahedron-geometry>
    <ngt-torus-geometry *ngIf="item.shapename=='torus'" [args]="[ 0.2, 0.04, 64, 32]"></ngt-torus-geometry>
  </ngt-mesh>
</ngt-group>
